* {
  box-sizing: border-box;
  font-family: 'Roboto', Helvetica, 'Lucida Grande', sans-serif;
}
body {
  font-family: sans-serif;
  width: 100%;
  margin: 0;
}

a.nav {
  color: rgb(221, 215, 215);
  text-decoration: none;
  text-shadow: 2px 2px 2px #1b1b1b;
  font-size: 20px;
}

a {
  color: rgb(12, 11, 11);
  text-decoration: none;
}

label {
  display: block;
}

nav {
  display: inline-block;
  margin: 1em;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin-left: 5px;
  width: 35%;
}

form div {
  margin: 1em;
  display: inline-block;
}

h3 {
  margin-left: 10px;
  font-size: 40px;
}

form {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  justify-content: center;
}

h1 {
  margin-top: 40px;
}

button {
  background-color: rgb(178, 211, 181);
  border-color: rgb(95, 129, 89);
  border-radius: 5px;
  box-shadow: 0 7px 12px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.navbar {
  justify-content: space-between;
  align-items: center;
  background-color: #6e8a4f;
  color: #c0c0c0;
  display: flex;
  height: 80px;
  width: 100%;
  padding: 10px;
}

.allProducts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.book_img {
  height: 460px;
  width: 280px;
}

.single_book {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 300px;
  margin: 15px;
  margin-bottom: 23px;
  padding: 10px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transition: all;
}
.single_book:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition-duration: 100ms;
}

.loggin {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.logo {
  height: 80%;
}

.hello {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0px 3px 0px #b2a98f, 0px 10px 8px rgba(0, 0, 0, 0.15),
    0px 15px 2px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(129, 126, 126, 0.1);
}

.singleBook {
  display: flex;
  flex-direction: row;
  margin: 15px 20px 15px 0;
  padding: 45px;
}

.single_book_left {
  display: flex;
  margin-right: 5px;
  flex-direction: column;
}

.single_book_right {
  display: flex;
  border-radius: 10px;
  margin-left: -25px;
  flex-direction: column;
  padding: 30px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);

  z-index: -1;
}

.login_form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  height: 40%;
  width: 30%;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  border-radius: 7px;
  padding: 10px;
  background-color: aliceblue;
}

.form-container {
  display: flex;
  justify-content: center;
}

.cart-full-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 70%;
}

.cart-total {
  margin-left: 20px;
  font-size: 20px;
}
.button {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  height: 20%;
  align-items: flex-end;
}

.delete-btn,
.quantity-btn {
  height: 20px;
  width: 20px;
}

.delete-btn i,
.quantity-btn i,
.cart-item-qty {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-item-qty h6 {
  margin: 5px;
}

.cart-item-details > h6 {
  margin: 20px;
}

.cart-item-details {
  height: 130px;
  width: 280px;
}

.button-checkout {
  font-size: 25px;
  color: white;
  background: rgb(125, 131, 214);
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 20px;
}

.button-checkout:hover {
  background: lightgrey;
  cursor: pointer;
}

.checkout-row {
  display: flex;
  justify-content: center;
}

.checkout-full {
  padding: 20px;
  border: solid;
  border-radius: 5px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.checkout-thank-you {
  display: flex;
  justify-content: center;
  padding: 100px;
}

.mid {
  height: 80%;
}

.top {
  height: 10%;
}

.bot {
  height: 10%;
}

.priceAndDell {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.logo_img {
  margin-top: -7px;
}

.no-item {
  text-align: center;
  font-size: 30px;
  background-color: #9e9d9d;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
